*{
    margin: 0;
    padding: 0;
}

.backgroundPAG {
	background-color: red;
	background-size: cover;
	background-position: center;
	height: 50vw;
}

.content {
	/* Content after the elastic header need a background-color to cover the elastic header. */
	background-color: rgb(0, 97, 243);
    width: auto;
    height: 130px;
    text-align: center;
}

.b{
    height: 112px;
    width: 112px;
    margin-top: 12px ;
    margin-left: 65px ;
}